@model List<Wedding>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center py-5">Welcome to the Wedding Dashboard</h1>
    </div>

      <table style="width:100%" class="pt-5 table-striped table-bordered p-4">
        <tr>
          <th class="text-center">Wedding Names</th>
          <th class="text-center">Date</th>
          <th class="text-center">Address</th>
          <th class="text-center">RSVP</th>
          <th class="text-center">Count</th>
        </tr>
        
        @foreach (Wedding wedding in Model)
        {
          bool alreadyRSVPd = wedding.Rsvps.Any(like => Context.Session.GetInt32("UserId") == like.UserId);
        <tr>
          <td class="text-center"> <a asp-controller="Wedding" asp-action="Details" asp-route-weddingId="@wedding.WeddingId">@wedding.NameOne + @wedding.NameTwo's Wedding </a> </td>
          <td class="text-center"> @wedding.Date</td>
          <td class="text-center"> @wedding.Address</td>
          <td class="text-center">
          <form asp-controller="Wedding" asp-action="RSVP" asp-route-weddingId="@wedding.WeddingId" class="float-start">
          @if (alreadyRSVPd)
          {
            @* Thumbs up icon. *@
            <button class="btn btn-outline-danger m-3">Un-RSVP</button>
          }
          else
          {
            <button class="btn btn-outline-success m-3">RSVP</button> 
          }
      </form>
      </td>
      <td class="text-center"><span>(@wedding.Rsvps.Count)</span></td>
        </tr>
        }
</table>
    </div>
  </div>
</div>